{% extends "base.html" %}

{% block page_content %}

<!-- templates/home.html -->

<h1>My Portfolio</h1>

<div class="row">

    {% for project in projects %}
    
        <div class="col-md-4">
    
            <div class="card mb-2">
    
                <div class="card-body">
    
                    <h5 class="card-title">{{ project.title }}</h5>
    
                    <p class="card-text">{{ project.description }}</p>

                    <a href="{% url 'detail' project.pk %}"

                        class="btn btn-primary">

                        Read More

                    </a>
    
                </div>
    
            </div>
    
        </div>
    
        {% endfor %}
    
</div>

<h2>Skills</h2>
<div class="row">

    {% for skill in skills %}
    
        <div class="col-md-4">
    
            <div class="card mb-2">
    
                <div class="card-body">
    

                    <p>{{ skill.name }}: {{ skill.proficiency }}%</p>

                </div>
    
            </div>
    
        </div>
    
        {% endfor %}
    
</div>

{% endblock page_content %}

